body {
  background-color: rgb(234, 226, 207);
  font-family: Verdana, sans-serif;
}

.main-content {
  background-color: rgb(245, 241, 233);
  box-sizing: border-box;
  height: auto;
  width: 80%;
  margin: 0 auto;
  padding: 20px;
}
.page-title {
  text-align: center;
  font-weight: bold;
  font-size: 40px;
  text-decoration: underline;
}
.main-content ul, ol {
  text-align: center;
}

li {
  padding: 0;
  display: block;
  font-size: 20px;
}
.main-content img {
  box-sizing: border-box;
  height: 100%;
  width: 100%;
}