html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  background-color: rgb(234, 226, 207);
  font-family: Verdana, sans-serif;
  margin: 20px auto;
}

.main-content {
  background-color: rgb(245, 241, 233);
  height: auto;
  width: 80%;
  margin: 0 auto;
  padding: 20px;
  text-align: center;
  border-radius: 1em;
}
.page-title {
  font-weight: bold;
  font-size: 40px;
  text-decoration: underline;
}
.main-content ul {
  list-style: disc;
  margin-left: 40px;
}

.main-content ol {
  margin-left: 40px;
}

.main-content .container {
  max-width: 80%;
  margin: 0 auto;
  text-align: left;
}

h1 {
  text-decoration: underline;
}

li {
  padding: 0;
  font-size: 20px;
  text-align: left;
}

.main-content img {
  height: 80%;
  width: 80%;
}

hr {
  margin: 30px auto;
  width: 100%;
}
